html(ng-app="uxTools")
  head
    title Uxtools.co
    meta(name="description" content="Compare and Discover Tools for User Experience Design, including prototyping, collaboration, monitoring and testing.")
    //- meta(name="google-site-verification" content="z3DOeDnTFPHaoW3Z8ki2b9v-Fqi5ADmal6d0vDBQFhw")
    meta(name="google-site-verification" content="_cIoag6QS8rrWSHpRrQFZ5vqDU2v0w1xKkxRmorbxmg")
    meta(name="ROBOTS" content="INDEX, FOLLOW")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700|Poppins:600" rel="stylesheet")
    link(href="css/style.css?version=1.3" rel="stylesheet" type="text/css")

  body
    header#main-header
      .top-bar
        h1.screen-reader UX Tools
        .wrapper
          .left
            a(href="/")
              img#logo(src="img/uxtools-logo.svg" alt="UX Tools")
          .right
            ul
              li
                a(href="/tools") 
                  span Tools
              li
                a(href="/library") 
                  span Library
              li
                a(href="https://blog.uxtools.co") 
                  span Blog
              li
                a(href="/about.html") 
                  span About
              li
                a(href="http://newsletter.uxtools.co")
                  button.small
                    | Subscribe
          #hamburger
            .icon
              include img/icons/menu.svg
            span Menu
      #sidebar
        #shade.shade
          .container
            ul
              li
                a(href="/tools") 
                  span Tools
              li
                a(href="/library") 
                  span Library
              li
                a(href="https://blog.uxtools.co") 
                  span Blog
              li
                a(href="/about.html") 
                  span About
              li
                a(href="http://newsletter.uxtools.co")
                  include img/icons/email.svg
                  span Subscribe
            #close.close
              include img/icons/close.svg
    section
      .wrapper
        .columns.reverse
          .content
            h2 The ultimate comparison of UX industry tools.
            p There's a new design tool every week. What's the difference? See how these design, prototyping, collaboration, and monitoring tools work for you.
            a(href="/tools")
              button.blue See the Tools 
               include img/icons/arrow-right.svg
          .content
            a(href="/tools")
              .landing-image
                img(src="img/landing-image-logos.png" alt="App Logos")
                img.shadow-image(src="img/bottom-shadow.png")

    section
      .wrapper
        .columns
          .content
            a(href="/library")
              .landing-image
                img(src="img/landing-image-books.png" alt="App Logos")
                img.shadow-image(src="img/bottom-shadow.png")
          .content
            h2 The ultimate list of UX industry books.
            p What's everyone reading these days? It’s hard to know where to start in a big industry like UX design. See the most popular and recommended books in the industry.
            a(href="/library")
              button.blue Browse the Library
               include img/icons/arrow-right.svg

    section
      .wrapper
        .columns.reverse
          .content
            h2 Straight from my toolbox to your inbox.
            p Companies like 
              a(href="https://adobe") Adobe
              | , 
              a(href="https://atomic.io") Atomic
              | , and 
              a(href="https://zurb.com") Zurb
              |  have reached out to show me their latest tools. Don't waste your time keeping up with tools. Let me do the work for you in one simple, monthly newsletter.
            //- Begin MailChimp Signup Form
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action='//uxtools.us14.list-manage.com/subscribe/post?u=56c88bcfa8f1dc80f5c401b3a&id=218467b99e', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                #mc_embed_signup_scroll
                  //- label(for='mce-EMAIL') Subscribe to our mailing list
                  //- | &#x9;
                  input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Email address', required='')
                  //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style='position: absolute; left: -5000px;', aria-hidden='true')
                    input(type='text', name='b_56c88bcfa8f1dc80f5c401b3a_218467b99e', tabindex='-1', value='')  
                  input#mc-embedded-subscribe.right.blue(type='submit', value='Subscribe', name='subscribe')
              //- End mc_embed_signup
          .content
            .landing-image
              a(href="http://newsletter.uxtools.co" title="UX Tools Newsletter")
                img.illustration(alt="illustration" src="img/illustration/toolbox-inbox.svg")
    //- section
    //-   .wrapper.extra-wide
    //-     h2(style="text-align: center;") From the UX Tools Blog
    //-     #medium
    //-       ul
    //-         li
    //-           .image-container.loading
    //-         li
    //-           .image-container.loading
    //-         li
    //-           .image-container.loading
    footer
      p Made by 
        a(href="https://twitter.com/@_taylorpalmer") Taylor Palmer
        |  in his spare time.



    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    //- script(src="js/medium.js?ver=1.1" type="text/javascript")
    script(type="text/javascript").
      
      var hamburger = document.getElementById("hamburger");
      var sidebar = document.getElementById("sidebar");
      var shade = document.getElementById("shade");
      var close = document.getElementById("close");

      hamburger.addEventListener("click", function() {
        sidebar.classList.add("show-menu");
      }, false);

      shade.addEventListener("click", function() {
        sidebar.classList.remove("show-menu");
      }, false);

      close.addEventListener("click", function() {
        sidebar.classList.remove("show-menu");
      }, false);

    script(type="text/javascript" src="https://rss2json.com/gfapi.js")
    script.
      window['_fs_debug'] = false;
      window['_fs_host'] = 'www.fullstory.com';
      window['_fs_org'] = '2EJY1';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
          d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
          ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
      })(window,document,window['_fs_namespace'],'script','user');
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78846271-1', 'auto');
      ga('send', 'pageview');


