html
  head
    title Uxtools.co – The UX Library
    meta(name="description" content="Browse the most recommended books in the UX industry, all compiled into one simple library.")
    meta(name="ROBOTS" content="INDEX, FOLLOW")
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    link(rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="../img/favicon/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet")
    link(href="/css/library.css?ver=1.4" rel="stylesheet" type="text/css")

    body
      #library(v-bind:class="{'no-scroll':showModal || showSidebar}")
        header#main-header
          .top-bar
            h1.screen-reader UX Library
            .wrapper
              .left
                a(href="/")
                  img#logo(src="../img/uxtools-logo.svg" alt="UX Tools")
              .right
                ul
                  li
                    a(href="/tools") 
                      span Tools
                  li
                    a(href="/library") 
                      span Library
                  li
                    a(href="https://blog.uxtools.co") 
                      span Blog
                  li
                    a(href="/about.html") 
                      span About
                  li
                    a(href="http://newsletter.uxtools.co")
                      button.small
                        | Subscribe
              #hamburger(@click="showMenu = true")
                .icon
                  include ../img/icons/menu.svg
                span Menu
          #sidebar(v-bind:class="{'show-menu': showMenu}")
            #shade.shade(@click="showMenu = false")
              .container
                ul
                  li
                    a(href="/tools") 
                      span Tools
                  li
                    a(href="/library") 
                      span Library
                  li
                    a(href="https://blog.uxtools.co") 
                      span Blog
                  li
                    a(href="/about.html") 
                      span About
                  li
                    a(href="http://newsletter.uxtools.co")
                      include ../img/icons/email.svg
                      span Subscribe
                #close.close(ng-click="$root.showMenu = false")
                  include ../img/icons/close.svg
          .bottom-bar.mobile
            .wrapper
              a.show-library-sidebar(@click="showSidebar = true") Refine
              .search.mobile
                input(
                  placeholder="Search..." 
                  v-model="searchTerm" v-on:change="categoryData.categoryModel.tags=''")
                include ../img/icons/magnify.svg
                  
        section(v-cloak)
          #library-sidebar-shade(@click="showSidebar = false" v-bind:class="{'showing':showSidebar}")
            #library-sidebar(
              v-bind:class="{'showing':showSidebar}" 
              @click.stop="")
              .close.mobile(@click="showSidebar = false")
                include ../img/icons/close.svg
              .search.non-mobile
                input(
                  placeholder="Search..." 
                  v-model="searchTerm" v-on:change="categoryData.categoryModel.tags='';")
                include ../img/icons/magnify.svg

              //------ CATEGORIES -------
              .sidebar-list
                header Categories
                ul
                  li(@click="categoryData.categoryModel.tags = ''"
                    v-bind:class="{'active': !categoryData.categoryModel.tags}") 
                    span All Categories
                    include ../img/icons/check.svg
                  li(v-for="option in orderedCategoryOptions" 
                    @click="setTags(option.value)"
                    v-bind:class="{'active': categoryData.categoryModel.tags == option.value}") 
                      span {{option.name}}
                      include ../img/icons/check.svg
                  li.show-more(@click="showMoreCategories()") 
                    include ../img/icons/unfold-more-horizontal.svg
                    span(v-show="categoryCount < 6") Show More
                    span(v-show="categoryCount > 5") Show Less

              //------ FEATURED LISTS -------
              .sidebar-list
                header Featured Lists
                ul
                  li.image-list(v-for="list in convertedBookLists" @click="showSidebar = false")
                    router-link(:to="{ name: 'bookList', params: {listId: list.id }}")
                      img(v-bind:src="'../img/book-recommendations/' + list.image")
                      .text-wrapper
                        div {{ list.name }}
                        div.owner {{ list.owner }}
                //- li.show-more(@click="showMoreBookLists()") 
                //-   include ../img/icons/unfold-more-horizontal.svg
                //-   span(v-show="bookListsCount < 6") Show More
                //-   span(v-show="bookListsCount > 5") Show Less

          router-view

            
                
        transition(name="grow")
          #modal-wrapper(v-show="showModal" style="display: none;")
            .shade(@click="showModal=false")
              .container(ng-click="$event.stopPropagation();")
                header
                  .title 
                    h6 {{modalBookRecommendations.length}} Recommendation
                      span(v-show="modalBookRecommendations.length !== 1") s
                        |  for 
                    h4 {{modalBookTitle}}
                  .close(ng-click="showModal=false")
                    include ../img/icons/close.svg
                .scroll-area
                  ul
                    li(v-for="list in modalBookRecommendations")
                      a(target="_blank" v-bind:href="bookLists[list].url + '?ref=uxtools.co'")
                        img(v-bind:src="'../img/book-recommendations/' +bookLists[list].image")
                        .content
                          h5 {{bookLists[list].name}}
                          h6 {{bookLists[list].owner}}

    script(type="text/x-template" id="book-list")
      div.books-wrapper
        header.books-header(v-if="listId")
          .flex-wrapper
            img(v-bind:src="'../../img/book-recommendations/'+bookLists[listId].image")
            .content-wrapper
              h3 {{ bookLists[listId].name }}
              a(v-bind:href="bookLists[listId].url" target="_blank")
                h4 {{ bookLists[listId].owner }}
                  include ../img/icons/share.svg
          router-link.view-all(to="/")
            include ../img/icons/book-open-variant.svg
            span View All Books
        //------ FILTER GROWL --------
        transition(name="slide-down")
          .filter-wrapper(v-show="$parent.computedTags || $parent.searchTerm" v-bind:class="{'showing': $parent.computedTags || $parent.searchTerm}")
            .filter-growl 
              span Only showing "{{$parent.computedTags}}{{$parent.searchTerm}}"
              span.close(@click="clearAll()") Dismiss
        ul#books
          li(v-for="book in books")
            .book-wrapper
              .image-container
                a(v-bind:href="book.url" target="_blank" v-bind:title="book.title")
                  img.cover(v-bind:alt="book.title" v-bind:src="'../../img/book-covers/' + book.image")
              .book-info
                a(v-bind:href="book.url" target="_blank" v-bind:title="book.title")
                  h4.title {{ shortenedTitle(book.title) }}
                h5
                  em by 
                  | {{ book.author }}
                ul.tags
                  li(v-for="tag in book.tags" @click="clearAll(); scrollToTop(); $parent.categoryData.categoryModel.tags = tag") {{ tag }}
                .book-lists(@click="$parent.showModal=true; $parent.setModalData(book);")
                  include ../img/icons/bookmark.svg
                  span {{book.recommendations.length}}
        .no-books(v-if="!books.length")
          p Hmm, looks like there aren't any books here.
            button.blue.small(@click="reset()") View All Books
    script(src="../js/min/library-min.js?ver=1.3")
    script.
      window['_fs_debug'] = false;
      window['_fs_host'] = 'www.fullstory.com';
      window['_fs_org'] = '2EJY1';
      window['_fs_namespace'] = 'FS';
      (function(m,n,e,t,l,o,g,y){
          if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
          g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
          o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
          y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
          g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
          g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
          g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
          d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
          ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
      })(window,document,window['_fs_namespace'],'script','user');
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78846271-1', 'auto');
      ga('send', 'pageview');


